<div class="container">
  <div class="row">
    <div class="col-12 backgroundCard">
      <h1>About Me</h1>

        <div class="container">
          <div class="row">
            <div class="col-4">
              <img src="assets/img/eu2.png" alt="">
            </div>
            <div class="col-8">
              <h3 class="orangeC">Web Developer</h3>
              <div class="container">
                <div class="row">
                  <div class="col-6">
                    <ul>
                      <li><b>Nascimento: </b>5 março 1999</li>
                      <li><b>Contacto: </b>910229046</li>
                      <li><b>Email: </b>carlosdaniel6@me.com</li>
                    </ul>
                  </div>
                  <div class="col-6">
                    <ul>
                      <li><b>Cidade: </b>Braga</li>
                      <li><b>Qualificações: </b>Tesp</li>
                      <li><b>Freelance: </b>Avaliable</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
