<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Very Nice website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <a class="nav-link" [routerLink]="['']" routerLinkActive="active" >Home</a>
          <a class="nav-link" [routerLink]="['/Calculadora']" routerLinkActive="active">Calculadora</a>
          <a class="nav-link" [routerLink]="['/ClinicaVeterinaria']" routerLinkActive="active">Clinica Veterinaria</a>
      </ul>
    </div>
</nav>
