body{
  background: url(assets/img/background.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}


.backgroundCard{
  background-color: rgba(0, 0, 0, 0.80);
  margin-top: 50px;
  padding: 25px;
  border-radius: 5px;
}

h1,h2,h3,h4,p,a,li{
  color: white!important;
}

li{
  margin: 20px 0;
}

.orangeC{
  color: orangered!important;
}
